@theme {
  --ease-in-out-material: cubic-bezier(0.4, 0, 0.2, 1);
  --animate-fade-in: fade-in 300ms var(--ease-in-out-material);
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
