@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@import "./tokens.css";
@import "./theme.css";
@import "./prose.css";
@import "./code.css";
@import "./base.css";
@import "./animation.css";
