@layer base {
  [data-rehype-pretty-code-title] {
    @apply bg-card text-muted-foreground/80 rounded-t-lg border border-b-0 px-4 py-2 text-[13px] font-medium;
    letter-spacing: 0.02em;
    margin-bottom: 0;
  }

  [data-highlighted-line] {
    @apply border-primary bg-primary/10! border-l-2;
  }

  [data-highlighted-line] span {
    @apply bg-transparent!;
  }

  .light [data-highlighted-line] {
    @apply bg-primary/10! border-l-2 border-blue-600;
  }

  .light [data-highlighted-line] span {
    @apply bg-transparent!;
  }

  figure[data-rehype-pretty-code-figure]:has(> [data-rehype-pretty-code-title])
    pre {
    @apply rounded-t-none! mt-0;
  }

  figure[data-rehype-pretty-code-figure] {
    @apply my-6;
  }

  .light code[data-theme],
  .light code[data-theme] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  .dark code[data-theme],
  .dark code[data-theme] span {
    color: var(--shiki-dark);
  }

  span[data-line] {
    @apply px-4;
  }

  code[data-line-numbers] {
    counter-reset: line;
  }

  code[data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    @apply text-muted-foreground/50 mr-4 inline-block w-4 text-right;
  }

  code[data-line-numbers-max-digits="2"] > [data-line]::before {
    width: 1.25rem;
  }

  code[data-line-numbers-max-digits="3"] > [data-line]::before {
    width: 1.75rem;
  }

  code[data-line-numbers-max-digits="4"] > [data-line]::before {
    width: 2.25rem;
  }
}
