.prose {
  --tw-prose-body: var(--foreground);
  --tw-prose-headings: var(--foreground);
  --tw-prose-links: var(--foreground);
  --tw-prose-pre-bg: var(--code-block-bg);
}

.prose
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  ):before {
  content: none;
}
.prose
  :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)):after {
  content: none;
}
