:root {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: #191f28;
  --card: #f9fafb;
  --card-accent: #f2f4f6;
  --card-foreground: #333d4b;
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2374 0.0195 258.35);
  --primary: var(--color-blue-500);
  --primary-foreground: oklch(0.97 0.014 254.604);
  --secondary: #f9fafb;
  --secondary-foreground: #333d4b;
  --muted: oklch(0.9662 0.0034 247.86);
  --muted-foreground: #4e5968;
  --accent: oklch(0.33 0.0107 91.66 / 6%);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.623 0.214 259.815);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.623 0.214 259.815);
  --badge-default: #f3f4f6;
  --badge-default-accent: #e5e8eb;
  --badge-default-foreground: oklch(0.4602 0.0281 256.19);
  --code-block-bg: #f6f6f7;
}

.dark {
  --background: #1b1b1f;
  --foreground: #dfdfd7;
  --card: #202127;
  --card-accent: #2a2c34;
  --card-foreground: #fffff5db;
  --popover: #202127;
  --popover-foreground: oklch(0.985 0 0);
  --primary: var(--color-indigo-400);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #32363f;
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: #ebebf599;
  --accent: #282930;
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: var(--color-indigo-500);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.379 0.146 265.522);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.488 0.243 264.376);
  --badge-default: #282a2f;
  --badge-default-accent: #34363d;
  --badge-default-foreground: #dfdfd7;
  --code-block-bg: #161618;
}
