@theme {
  --text-2xs: 0.625rem;
  --breakpoint-xs: 30rem;
}

@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--tx);
  --color-ring: var(--ring);
  --color-input: var(--bg-2);
  --color-border: var(--ui);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--tx-2);
  --color-muted: var(--bg-2);
  --color-secondary-foreground: var(--tx-2);
  --color-secondary: var(--bg-2);
  --color-primary-foreground: var(--primary-tx);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--tx-2);
  --color-card: var(--bg-2);
  --color-card-accent: var(--ui);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-badge-default: var(--bg-2);
  --color-badge-default-accent: var(--ui);
  --color-badge-default-foreground: var(--tx-2);
}
